.navbar-nav {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 1rem;
}

	.navbar-nav .nav-item {
		margin-right: 10px;
	}

#logout {
	font-size: 1rem;
	color: var(--white);
	padding: 0.3rem 1.5rem;
	border: none;
	border-radius: 8px;
	text-decoration: none;
	background: linear-gradient(135deg, #232526, #414345);
	font-weight: bold;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
	cursor: pointer;
	transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

	#logout:hover {
		transform: scale(1.1);
		box-shadow: 0 0 40px rgba(255, 215, 0, 1);
		background: linear-gradient(135deg, #1f4037, #99f2c8);
	}