:root {
   --primary: #ffd700;
   --dark: #121212;
   --green: #4caf50;
   --danger: #ff4d4d;
   --white: #ffffff;
   --blue: #007bff;
   --gray: #333;
   --hover-yellow: #ffdd57;
   --border-radius: 15px;
   --shadow: rgba(0, 0, 0, 0.8);
}

.background-image {
   position: relative;
   width: 100%;
   min-height: 100vh;
   background-image: url('/assets/background/background_site.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   z-index: -1;
}

.wishlist-container {
   max-width: 75rem;
   margin: 200px auto;
   margin-top: 12rem;
   padding: 40px;
   background: rgba(0, 0, 0, 0.95);
   border-radius: var(--border-radius);
   box-shadow: 0 0 20px var(--shadow);
   border: 1px solid var(--primary);
   text-align: center;
   transition: box-shadow 0.3s ease-in-out;
   color: var(--white);
}

   .wishlist-container:hover {
      box-shadow: 0 0 35px rgba(255, 215, 0, 0.8);
   }

h1.main-title {
   font-size: 3rem;
   color: var(--primary);
   margin-bottom: 10px;
   text-shadow: 0 0 10px rgba(255, 215, 0, 0.8);
}

.wishlist-info {
   font-size: 1.2rem;
   margin-bottom: 30px;
   color: var(--white);
}

.wishlist-item {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 10px; /* Reduced spacing for closeness */
   padding: 10px;
   width: 100%;
}

.wishlist-table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
   border-radius: var(--border-radius);
   overflow: hidden;
   box-shadow: 0 0 20px var(--shadow);
}

   .wishlist-table thead {
      background: var(--primary);
      color: var(--dark);
   }

   .wishlist-table th {
      padding: 15px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.1rem;
   }

   .wishlist-table td {
      padding: 20px;
      text-align: center;
      border-bottom: 1px solid var(--primary);
      border-right: 1px solid var(--dark);
      vertical-align: middle;
      white-space: nowrap;
   }
   .wishlist-table tr:hover {
      background-color: rgba(255, 215, 0, 0.2);
   }

   .wishlist-table th:last-child, .order-table td:last-child {
      border-right: none;
   }
.wishlist-thumbnail {
   width: 80px;
   border-radius: var(--border-radius);
   border: 2px solid var(--primary);
   transition: transform 0.3s;
}

   .wishlist-thumbnail:hover {
      transform: scale(1.1);
   }

.btn-remove {
   background: none;
   border: none;
   cursor: pointer;
   transition: transform 0.2s, filter 0.2s;
}

   .btn-remove img {
      width: 30px;
      filter: invert(38%) sepia(97%) saturate(7493%) hue-rotate(350deg) brightness(105%) contrast(107%);
   }

   .btn-remove:hover {
      transform: scale(1.5);
      filter: brightness(1.5);
   }

@media (max-width: 768px) {
   .wishlist-container {
      width: 95%;
      padding: 20px;
   }

   .wishlist-table td {
      padding: 10px;
   }

   .wishlist-thumbnail {
      width: 60px;
   }
}

.wishlist-container h1.main-title {
   color: var(--hover-yellow);
}

.wishlist-table thead {
   background: var(--hover-yellow);
   color: var(--dark);
}


.btn-continue-shopping {
   padding: 15px 30px;
   border-radius: var(--border-radius);
   background: var(--blue);
   color: var(--white);
   text-decoration: none;
   font-size: 1.2rem;
   box-shadow: 0 0 15px var(--blue);
   transition: background 0.3s ease, transform 0.3s ease;
   display: inline-block;
   max-width: 300px;
}

   .btn-continue-shopping:hover {
      background: var(--green);
      transform: scale(1.1);
   }